body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #373737;
    color: white;
    text-align: center;
}

.rpsTitle {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: white;
    color: #373737;
    font-size: 50px;
    margin-top: 50px;
    padding: 40px;
    font-weight: bold;
}

.topText {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 36px;
    line-height: 30%;
}

.computerScoreContainer,
.humanScoreContainer {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.results {
    font-size: 30px;
    margin-top: 30px;
}

.score {
    font-size: 30px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 600px;
    display:flex;
    justify-content:space-around;
}

#rock,
#paper,
#scissors {
    padding: 8px;
    background-color: #373737;
    margin-inline: 10px;
    border: 3px solid white;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    background-color: #111111;
}


/* Modals */ 

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #373737;
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
  }
  
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.overlay.active {
    display: block;
}
  
.modalTitle {
    font-size: 30px;
    font-weight: bold;
}
  
.restartBtn {
    font-size: large;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 10px;
}

.restartBtn:hover {
    background-color: #111111;
    color: white;
}
  
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}